<main class="main">
  <div class="inner">

    <%= form_with(url: search_designs_path, local:true, scope: :post, class:"search-form") do |form| %>
      <%= form.text_field :keyword, placeholder:"検索する", class:"search-input " %>
      <%= form.submit "検索",class: "search-btn" %>
    <% end %>

    <%= form_tag designs_path, method: :get do %>
      <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), {prompt: 'タグで絞り込み検索',class: "tag-search",onchange: 'submit(this.form);'}%>
    <% end %>

    <div class="card__wrapper">
      <%= render partial: 'design', collection: @designs  %>
    </div>
  </div>
</main>
